aside.logo {
    background-color: rgba(110, 95, 241, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;

}

aside.logo img {
    padding: 0px 15px;
    width: 110px;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}